@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-4">
        <h2>Add Your Podcast</h2>
        <p>
            Add your podcast here.
        </p>
        <p>
            @Html.ActionLink("Add Podcast", "import", new {@controller = "feed"}, new { @class = "btn btn-default" })
        </p>
    </div>
    <div class="col-md-4">
        <h2>Podcast Directory</h2>
        <p>Check out podcasts</p>
        <p>
            @Html.ActionLink("Podcast Directory", "all", new { @controller = "podcast" }, new { @class = "btn btn-default" })
        </p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>